.container{
  display: flex;
  flex-wrap: wrap;
}
.property{
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  padding: 5px;
 }


@media (max-width: 768px){
  width: 100%;
  padding: 8px;
}
